<section class="poll-details">
  <section class="col-sm-6">
    <h4 id="poll-name"></h4>
    <form class="poll-opt-form">
      <label>I want to vote for:</label>
      <section id="poll-options">
      </section>
      <button class="btn btn-md btn-success" ng-click="voteSubmit()" id="vote-submit">Vote</button>
    </form>
    <div id="signup-vote">Sign up to vote</div>
    <div id="one-vote">You have voted for this poll</div>
  </section>
  <section class="col-sm-6">
    <canvas id="myChart" width="400" height="400"></canvas>
  </section>
</section>