body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

h1,
h4 {
  margin: 0;
  padding: 0;
}

#nav-container-id {
  background-color: white;
  border: none;
  margin: 0;
  padding: 0 60px;
}

@media (max-width: 768px) {
  #nav-container-id {
    padding: 0;
  }
}

#nav-signup,
#nav-login,
#nav-home,
#nav-mypolls,
#nav-addpoll,
#nav-curruser,
#nav-title {
  color: #565a5c;
}

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #565a5c;
}

.navbar-inverse .navbar-toggle {
  border: none;
}

.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
  background-color: white;
}

.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:focus,
.navbar-inverse .navbar-nav>.open>a:hover {
  background-color: snow;
}

.main-container {
  text-align: center;
  padding: 45px 0;
  background-color: #4cae4c;
  color: white;
}

.main-container h1 {
  margin-bottom: 20px;
  font-size: 45px;
  font-weight: bold;
}

.main-container h4 {
  font-size: 25px;
}

.signup-span {
  cursor: pointer;
}

.user-form {
  max-width: 400px;
  margin: auto;
}

.user-form .form-control {
  margin-top: 13px;
}

.error {
  color: red;
  font-size: 14px;
  font-weight: 400;
  display: block;
}

#one-vote {
  display: none;
  font-size: 14px;
  font-weight: 400;
}

.submit-div {
  text-align: center;
}

.user-form .btn {
  margin-top: 15px;
}

.poll-details {
  max-width: 1000px;
  margin: auto;
  padding: 25px 15px;
}

.poll-details h4 {
  margin-bottom: 15px;
  font-size: 32px;
}

.poll-opt-form label {
  font-size: 20px;
  font-weight: 600;
}

#poll-options label {
  font-size: 18px;
  font-weight: 400;
}

#myChart {
  height: 500px;
  width: 500px;
}

.btn-container {
  margin: 10px;
}

.btn-primary {
  margin: 4px;
}

.poll-heading {
  font-size: 28px;
  text-align: center;
  margin: 15px auto;
}

.select-poll-container {
  margin: 25px auto 15px auto;
}

.get-polls {
  text-align: center;
}

.get-polls ul {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  font-size: 20px;
  max-width: 600px;
}

.get-polls ul li {
  padding: 7px;
  border: 1px solid #D8D8D8;
}

.get-polls ul li:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.get-polls ul li a {
  color: #565a5c;
}

.addpoll-container {
  max-width: 400px;
  margin: 20px auto;
}

.poll-name-label,
.poll-opt-label {
  display: block;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.opt-input {
  width: 93%;
  float: left;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-right-color: white;
  margin-bottom: 10px;
}

.opt-delete {
  width: 7%;
  float: left;
  height: 34px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  margin-bottom: 10px;
  padding: 0;
}

.add-opt,
.poll-submit {
  display: block;
  margin: 10px auto;
}

.get-my-polls {
  max-width: 450px;
  margin: 20px auto;
}

.list-group-item a {
  font-size: 18px;
  color: #565a5c;
}

.list-group-item .btn {
  float: right;
  width: 6%;
  padding: 0;
}

#user-login-header,
#index-header {
  display: none;
}